.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grey1);
  max-width: 100%;
}

.header__logo {
  margin: 1rem 0 1rem 5rem;
  padding: 1rem;
}

.header__exit {
  display: flex;
  width: 4rem;
  margin-right: 3rem;
  justify-content: flex-end;
  color: var(--color-whiteFixed);
  font-size: var(--text2-font-size);
  font-weight: var(--text2-font-weight);
  line-height: var(--text2-line-height);
  cursor: pointer;
}

.card__image {
  height: 3.125rem;
}

.card__userName {
  font-weight: var(--title2-font-weight);
  font-size: var(--title2-font-size);
  line-height: var(--title2-line-height);
}

.card__office {
  font-weight: var(--text2-font-weight);
  font-size: var(--text2-font-size);
  line-height: var(--text2-line-height);
  color: var(--color-grey2);
}

.title1__suggestionFollow {
  font-weight: var(--title2-font-weight);
  font-size: var(--title2-font-size);
  line-height: var(--title2-line-height);
  margin: 0.25rem;
  padding: 1rem 1rem 1rem 0;
}

.title1 {
  font-weight: var(--title1-font-weight);
  font-size: var(--title1-font-size);
  line-height: var(--title1-line-height);
}

.text1 {
  font-weight: var(--text1-font-weight);
  font-size: var(--text1-font-size);
  line-height: var(--text1-line-height);
}

.container__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container__postsAndSuggestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container__newPotsCreator {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
}

.container__card {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.card__image,
.card__userName,
.card__office {
  margin: 0.25rem;
  padding: 0.125rem;
}

.container__newPotsCreator__title1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
  flex-wrap: wrap;
  gap: 1rem;
}

.container__newPotsCreator__title1__titlePost {
  display: flex;
  padding: 1rem;
}

.container__newPotsCreator__title1__textDescription {
  display: flex;
  padding: 1rem;
  border: 0.25rem solid black;
}

.button__newPostCreatoir {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  width: 4.4375rem;
}

.container__suggestionFollow {
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  padding: 0.25rem;
  width: 35%;
}

.container__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container__newPotsCreator__title1__titlePost,
.container__newPotsCreator__title1__textDescription {
  font-weight: var(--text1-font-weight);
  font-size: var(--text1-font-size);
  line-height: var(--text1-line-height);
  color: var(--color-grey2);
  border: 0.25rem solid var(--color-grey4);
  border-radius: 0.5rem;
}

.container__newPotsCreator__title1__titlePost:focus,
.container__newPotsCreator__title1__textDescription:focus {
  border-color: var(--color-brand-2);
}

.card {
  display: flex;
  justify-content: flex-start;
  padding: 0.125rem;
}

.container__listOfPosts {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.text2--bold {
  font-size: var(--text2-font-size);
  font-weight: 600;
}

.button__newPostCreatoir {
  background-color: var(--color-brand-1);
  color: var(--color-whiteFixed);
  border-radius: 0.25rem;
  cursor: pointer;
}

.button__newPostCreatoir:hover {
  background-color: var(--color-brand-2);
}

.button__align {
  display: flex;
  justify-content: end;
}

.button__card {
  border: 0.125rem solid;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-whiteFixed);
  color: var(--color-grey1);
  border-color: var(--color-grey1);
  border-radius: 0.25rem;
  cursor: pointer;
}

.button__card:hover {
  background-color: var(--color-whiteFixed);
  border-color: var(--color-brand-1);
  color: var(--color-brand-1);
}

.button__card:focus {
  background-color: var(--color-brand-2);
  color: var(--color-whiteFixed);
}

.buttonOpen__post {
  border: 0.125rem solid;
  margin: 1rem;
  padding: 0.8rem;
  background-color: var(--color-grey1);
  color: var(--color-whiteFixed);
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonOpen__post:hover {
  background-color: var(--color-grey0);
}

.container__buttonAndHearth {
  display: flex;
  align-items: center;
}



@media (width <1025px) {
  .container__header {

    width: 100%;
  }

  .container__main,
  .container__postsAndSuggestions {
    border: 1px solid red;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .container__newPotsCreator,
  .container__suggestionFollow {
    border: 1px solid red;
    padding: 0.25rem;
    width: 100%
  }

  .container__newPotsCreator__title1__titlePost,
  .container__newPotsCreator__title1__textDescription {
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  
  .container__suggestionFollow {
    display: flex;
    flex-direction: column;
    justify-content:baseline ;
    align-items: start;
    width: 100%;
  }

  .suggesrion__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .container__list {
    flex: 1;
  }
  .container__postsAndSuggestions {
    flex-direction: column;

  }
  .suggestion__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: auto;
    width: 90%;
  }

  .container__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -26px;
}


}
